include mixins/restaurant
doctype html
html
  head
    title Location | Sonbaro
    link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script.
      window.onload(getLocation());
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          console.log('Geolocation is not supported by this browser.');
        }
      }
      function showPosition(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        console.log('Latitude: ' + latitude);
        console.log('Longitude: ' + longitude);

        // Make AJAX request to server with latitude and longitude
        $.ajax({
          url: '/',
          type: 'GET',
          data: {
            lat: latitude,
            lng: longitude
          },
          success: function(response) {
            console.log("succeess")
            console.log(response.data)
            // Handle the API response data here

          },
          error: function(error) {
            console.log(error);
            // Handle any error that occurred during the API request
          }
        });
      }
  body
    block content 
        h2 Welcome #{pageTitle}
        //- each restaurant in restaurants
        //-         +restaurant(restaurant)
        //- else
        //-     li No restaurants
